.list {
  list-style: none;
}

.actorName {
  position: relative;
}

.actorName::before {
  content: '.';

  position: absolute;
  top: 0;
  left: -20px;

  display: block;

  transform: translateY(-55%);
  font-size: 40px;
}
